[data-testid="collapsedControl"] {
        display: none
    }

.stDownloadButton button,
.stButton button{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.stDownloadButton button{
    height: 53px;
}